<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rainy days in Helsinki</title>
  </head>
  <body>

    <p>Rainy days in Helsinki during 1988 - 2015</p>
    <table style="border: 0px; width: 100%;">
      {% for year, daily_rain_amount_in_rgb_data, weekly_rain_amount_in_rgb_data, daily_temperature_in_rgb_data, weekly_temperature_in_rgb_data in year_data %}
        <tr style="border: 0px;">
          <td style="font-size: 8px">{{year}}</td>
          {% for date, rain_amount, rain_amount_in_rgb in daily_rain_amount_in_rgb_data %}
            <td style="background-color: rgb({{rain_amount_in_rgb}}); width: 2px; height: 10px; border: 0px; padding: 0px;"><div title="{{date}}: {{rain_amount}}mm" style="height: 10px;"></div></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <p>Total amount of rain per week in Helsinki during 1988 - 2015</p>
    <table style="border: 0px; table-layout: fixed; width: 100%;">
      {% for year, daily_rain_amount_in_rgb_data, weekly_rain_amount_in_rgb_data, daily_temperature_in_rgb_data, weekly_temperature_in_rgb_data in year_data %}
        <tr style="border: 0px;">
          <td style="font-size: 8px">{{year}}</td>
          {% for week, rain_amount, rain_amount_in_rgb in weekly_rain_amount_in_rgb_data %}
            <td style="background-color: rgb({{rain_amount_in_rgb}}); height: 10px; border: 0px; padding: 0px;"><div title="Week {{week}}: {{rain_amount}}mm" style="height: 10px;"></div></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <p>Daily temperature in Helsinki during 1988 - 2015</p>
    <table style="border: 0px; width: 100%;">
      {% for year, daily_rain_amount_in_rgb_data, weekly_rain_amount_in_rgb_data, daily_temperature_in_rgb_data, weekly_temperature_in_rgb_data in year_data %}
        <tr style="border: 0px;">
          <td style="font-size: 8px">{{year}}</td>
          {% for date, temperature, temperature_in_rgb in daily_temperature_in_rgb_data %}
            <td style="background-color: rgb({{temperature_in_rgb}}); width: 2px; height: 10px; border: 0px; padding: 0px;"><div title="{{date}}: {{'{0:.2f}'.format(temperature)}}C" style="height: 10px;"></div></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <p>Average temperature per week in Helsinki during 1988 - 2015</p>
    <table style="border: 0px; table-layout: fixed; width: 100%;">
      {% for year, daily_rain_amount_in_rgb_data, weekly_rain_amount_in_rgb_data, daily_temperature_in_rgb_data, weekly_temperature_in_rgb_data in year_data %}
        <tr style="border: 0px;">
          <td style="font-size: 8px">{{year}}</td>
          {% for week, temperature, temperature_in_rgb in weekly_temperature_in_rgb_data %}
            <td style="background-color: rgb({{temperature_in_rgb}}); height: 10px; border: 0px; padding: 0px;"><div title="Week {{week}}: {{'{0:.2f}'.format(temperature)}}C" style="height: 10px;"></div></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <p>
      Data copyright <a href="https://en.ilmatieteenlaitos.fi/open-data">Finnish Meteorological Institute Open data</a> <a href="http://en.ilmatieteenlaitos.fi/open-data-licence">(CC4.0)</a>
    </p>
  </body>
</html>
